body { background: hsla(225, 10%, 10%, 0.1); }

.wrapper {
  width: 960px;
  margin: auto;
  padding-top: 20px;
  height: 100vh;
  border: 1px solid transparent;
}

.box-model {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
}


p {
  font-family: sans-serif;
  font-size: 1rem;
  text-align: justify;
  text-indent: 0.2rem;
}

.arm {
  color: maroon;
  font-style: italic;
  font-family: 'Bad Script', cursive;
}

.up30 { margin-top: 30px;}
.down30 { margin-bottom: 30px;}

.container {
  width: 600px;
  height: 300px;
  background-color: darkslateblue;
  margin: 20px auto;
  position: relative;
  border: 1px solid transparent;
}

.box {
  width: 100px;
  height: 60px;
  background-color: lemonchiffon;
  color:  darkslateblue;
  position: relative;
}

.box::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: red;
}

.code{
  margin: 10px 0;
  padding: 8px 10px;
  background-color: hsl(210, 6%, 12%);
  color: hsl(8, 56%, 54%);
  font-size: 20px;
  font-family: monospace;
}

.aim {
  color: maroon;
  margin-left: 100px;
}

.white {  color: #eee;}
.center { text-align: center; }
.comment {  color: grey;}
.bold { font-weight: bold; }

#next { display: none; }
#congratulation { display: none; }

.data {
  font-size: 1.2rem;
  font-family: sans-serif;
}

input[type="number"] {
  margin: 10px 0;
  padding: 8px 10px;
  color: hsl(8, 56%, 54%);
  background-color: hsl(210, 26%, 32%);
  font-size: 20px;
  font-family: monospace;
  border: none;
  width: 60px;
}

.sbmt {
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  padding: 18px 22px 22px;
  border-radius: 4px;
  margin-top: 22px;
  margin-bottom: 12px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: hsla( 110, 50%, 50%, 0.5);
  border: 3px solid hsla( 110, 20%, 30%, 1);
  box-shadow: 2px 2px 4px 4px hsla( 110, 0%, 30%, .2);
  text-transform: lowercase;
  color: hsla( 110, 20%, 20%, 1);
  text-shadow: 2px 2px 1px hsla( 110, 100%, 30%, .5);
  text-decoration: none;
}

.sbmt:hover {
    border: 3px solid hsla( 110, 20%, 30%, 0.8);
    box-shadow: 1px 1px 1px 1px hsla( 110, 0%, 30%, .5);
    text-shadow: 0.5px 0.5px 0.5px hsla( 110, 100%, 100%, .9);
    text-decoration: none;
}

#container-p {
  font-size: 22px;
  color: lemonchiffon;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  padding-left: -24px;
}

#congratulation {
  position: fixed;
  height: 13rem;
  width: 30rem;
  top: 8rem;
  left: 50%;
  margin-left: -15rem;
  background-color: #eee;
  color: red;
  cursor: pointer;
  text-align: center;
  padding-top: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px 30px hsla(360, 100%, 100%, 0.5);
}

#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
  min-width: 320px;
  width: 75%;
  min-height: 280px;
  height: auto;
	top:50%;
  left:50%;
  transform: translate(-50%, -50%);
	z-index:10000;
  color: #fff;
	background: hsla(100, 0%, 50%, .95);
  line-height: 100%;
  font-size: 48px;
  word-wrap: normal;
  hyphens: auto;
}

#close {
color: #000;
font-family: monospace;
padding: 1rem;
cursor: pointer;
}

#modalContainer > p {
  width: 80%;
  margin: 10rem auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5rem;
}

.closing {
  text-align: center;
  margin-top: 30px;
  color: maroon;
}


.title {
  font-size: 24px;
  line-height: 1.5;
  text-indent: 48px;
}

li.title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-indent: 74px;
}