
.box-goal {
  width: 98px;
  height: 58px;
  border: 1px dotted  #eee;
  position: absolute;
  top: 120px;
  left: 250px;
}

#container-p {
  margin-left: 100px;
}

input[type="text"] {
  margin: 10px 0;
  padding: 8px 10px;
  color: hsl(8, 56%, 54%);
  background-color: hsl(210, 26%, 32%);
  font-size: 20px;
  font-family: monospace;
  border: none;
  width: 60px;

}
